**/*.tz
**/*.tgz
.history
venv*
.venv*
**/Chart.lock
**/charts
**/*copy
*.code-workspace

# written by make-apps-test.py
*.local.yaml

# git worktrees for branches in progress
.claude/worktrees/
tmp
**/*.kubeconfig
